<div
  class="card"
  (click)="getDetails(id)"
  *ngIf="type === 'character'; else episodes"
>
  <div
    class="card-img"
    [ngStyle]="{ 'background-image': 'url(' + img + ')' }"
  ></div>
  <div class="card-content">
    <p class="card-content__title">name</p>
    <h4 class="card-content__text">{{ name }}</h4>
    <p class="card-content__title">status</p>
    <h4 class="card-content__text">{{ status }}</h4>
    <p class="card-content__title">species</p>
    <h4 class="card-content__text">{{ species }}</h4>
    <p class="card-content__title">gender</p>
    <h4 class="card-content__text">{{ gender }}</h4>
  </div>
</div>

<ng-template #episodes>
  <div
    class="card"
    (click)="getDetails(id)"
    *ngIf="type === 'episode'; else locations"
  >
    <div class="card-info" *ngIf="!isVisible">
      <h3 class="card-info-title">
        {{ name }}
      </h3>
      <div class="card-info-container">
        <p class="card-content__title">air date</p>
        <h4 class="card-content__text">{{ air_date }}</h4>
        <p class="card-content__title">episode</p>
        <h4 class="card-content__text">{{ episode }}</h4>
        <p class="card-content__title">created</p>
        <h4 class="card-content__text">{{ created }}</h4>
      </div>
      <button class="card-info-btn" (click)="changeVisible()">
        Characters
      </button>
    </div>
    <div class="card-details" *ngIf="isVisible">
      <button class="card-details-close" (click)="changeVisible()">
        <i class="material-icons">close</i>
      </button>
      <h3>Characters List</h3>
      <div class="card-details-list">
        <div
          *ngFor="let item of listCharacters"
          class="card-details-list__item"
        >
          <img [src]="item.image" [alt]="item.name" />
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #locations>
  <div class="card" (click)="getDetails(id)">
    <div class="card-info" *ngIf="!isVisible">
      <h3 class="card-info-title">
        {{ name }}
      </h3>
      <div class="card-info-container">
        <p class="card-content__title">type</p>
        <h4 class="card-content__text">{{ typeLocation }}</h4>
        <p class="card-content__title">dimension</p>
        <h4 class="card-content__text">{{ dimension }}</h4>
        <p class="card-content__title">created</p>
        <h4 class="card-content__text">{{ created }}</h4>
      </div>
      <button class="card-info-btn" (click)="changeVisible()">
        Characters
      </button>
    </div>
    <div class="card-details" *ngIf="isVisible">
      <button class="card-details-close" (click)="changeVisible()">
        <i class="material-icons">close</i>
      </button>
      <h3>Characters List</h3>
      <div class="card-details-list">
        <div
          *ngFor="let item of listCharacters"
          class="card-details-list__item"
        >
          <img [src]="item.image" [alt]="item.name" />
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
