@import "src/app/shared/styles/utils/colors.scss";
@import "src/app/shared/styles/utils/breakpoints.scss";

.card {
  background-color: $white;
  border-radius: 25px;
  overflow: hidden;
  height: 200px;
  width: 260px;;
  display: flex;
  transition: all 0.25s ease-in;
  filter: grayscale(0.8);
  box-shadow: 0 0 10px 2px $black;

  &:hover {
    transform: scale(1.02);
    filter: grayscale(0);
  }

  &-img {
    flex: 0 0 50%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border-radius: inherit;
  }

  &-content {
    flex: 0 0 50%;
    padding: 10px;
    overflow: auto;

    &__title {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 10px;
      color: $gray;
      line-height: 95%;
    }

    &__text {
      margin-bottom: 5px;
      line-height: 110%;
    }
  }

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    overflow: auto;

    &-title {
      margin-bottom: 5px;
      text-align: center;
      background: $purple;
      color: $white;
      padding: 0 10px;
    }

    &-container {
      padding: 0 10px;
    }

    &-btn {
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin: 0 auto;
      background-color: $black-1;
      color: $white;
    }
  }

  &-details {
    padding: 0 10px;
    overflow: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in;
    position: relative;
    width: 100%;

    &-close {
      border: none;
      background-color: transparent;
      width: fit-content;
      position: absolute;
      right: 5px;
    }

    &-list {
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        margin: 2px;
        align-items: center;

        img {
          border-radius: 50%;
          width: 40px;
          margin-right: 3px;
        }
      }
    }
  }
}
