<nav class="nav">
  <div class="nav-btns">
    <button
      *ngFor="let item of navBtns"
      class="btn-primary"
      (click)="goToRoute(item.route)"
    >
      {{ item.title }}
    </button>
  </div>

  <div class="nav-search">
    <input
      class="input-text"
      type="text"
      placeholder="type here ..."
      #inputSearch
    />
    <button class="btn-secondary" (click)="filterArrays(inputSearch.value)">
      Search
    </button>
  </div>
</nav>
