@import "src/app/shared/styles/utils/colors.scss";
@import "src/app/shared/styles/utils/breakpoints.scss";

.nav {
  background: radial-gradient(
    ellipse at top,
    $white 0%,
    $green-1 10%,
    $green-2 40%,
    $green-3 90%,
    $black 100%
  );
  border-bottom: $black solid 1px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &-btns {
    display: flex;
    flex: 0 0 50%;

    @media only screen and (max-width: $md) {
      margin-bottom: 15px;
      justify-content: center;
    }
  }

  &-search {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
  }
}
