@import "src/app/shared/styles/utils/colors.scss";
@import "src/app/shared/styles/utils/breakpoints.scss";

$width-card: 270px;
$width-min-card: 164px;

.generic-card {
  text-align: left;
  background-color: $white;
  transition: 0.3s;
  width: $width-card;
  margin-bottom: 16px;
}
