@import "src/app/shared/styles/utils/colors.scss";
@import "src/app/shared/styles/utils/breakpoints.scss";

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    max-width: 1400px;
    margin: 55px 0;

    @media only screen and (max-width: $xxl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    @media only screen and (max-width: $xl) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media only screen and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media only screen and (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &-pagination {
    max-width: 1400px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    &__btn {
      background: $green-2;
      min-width: 25px;
      margin: 0 10px 15px 0;
      font-weight: 800;
    }
  }
}
