<section class="cards-container">
  <div class="cards-container__grid">
    <ng-container
      class="list-items__cards"
      *ngIf="type === 'character'; else episode"
    >
      <app-card
        *ngFor="let item of items"
        [name]="item.name"
        [id]="item.id"
        [type]="type"

        [img]="item.image"
        [status]="item.status"
        [species]="item.species"
        [gender]="item.gender"
      ></app-card>
    </ng-container>

    <ng-template #episode>
      <ng-container *ngIf="type === 'episode'; else location">
        <app-card
          *ngFor="let item of items"
          [name]="item.name"
          [id]="item.id"
          [type]="type"
          
          [created]="item.created.slice(0, 10)"

          [air_date]="item.air_date"
          [episode]="item.episode"
          [characters]="item.characters"

        ></app-card>
      </ng-container>
    </ng-template>

    <ng-template #location>
      <app-card
        *ngFor="let item of items"
        [name]="item.name"
        [id]="item.id"
        [type]="type"

        [created]="item.created.slice(0, 10)"

        [typeLocation]="item.type"
        [dimension]="item.dimension"
        [characters]="item.residents"
      ></app-card>
    </ng-template>
  </div>

  <div class="cards-container-pagination">
    <button
      *ngFor="let page of pagination"
      class="cards-container-pagination__btn"
      [value]="page.value"
      (click)="dispatchPage($event.target, page.next)"
    >
      {{ page.value }}
    </button>
  </div>
</section>
