<section class="details">
  <div class="details-img">
    <img [src]="character?.image" [alt]="character.name" />
  </div>
  <div class="details-content">
    <h3 class="details-content__main">Character information</h3>
    <p class="details-content__title">Name</p>
    <h4 class="details-content__text">{{ character.name }}</h4>
    <p class="details-content__title">Gender</p>
    <h4 class="details-content__text">{{ character.gender }}</h4>
    <p class="details-content__title">Status</p>
    <h4 class="details-content__text">{{ character.status }}</h4>
    <p class="details-content__title">Origin</p>
    <h4 class="details-content__text">{{ character.origin.name }}</h4>
    <p class="details-content__title">Location</p>
    <h4 class="details-content__text">{{ character.location.name }}</h4>
  </div>
  <div class="details-episodes">
    <h3 class="details-episodes__main">Episodes List</h3>
    <p class="details-episodes__episode" *ngFor="let episode of episodes">
      {{ episode.name }}
    </p>
  </div>
</section>
