@import "src/app/shared/styles/utils/colors.scss";
@import "src/app/shared/styles/utils/breakpoints.scss";

.details {
  max-width: 1400px;
  max-height: 550px;
  display: flex;
  padding: 30px 15px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 35px auto 0;

  @media only screen and (max-width: $lg) {
    flex-direction: column;
    max-width: 500px;
    max-height: unset;
  }

  &-img {
    flex: 0 0 33.3333%;
    display: flex;
    justify-content: center;

    img {
      border-radius: 50%;
      width: 100%;
      max-width: 300px;
      max-height: 300px;
    }
  }

  &-content {
    flex: 0 0 33.3333%;
    padding-left: 10px;

    @media only screen and (max-width: $lg) {
      padding-left: 0;
    }

    &__main {
      font-size: 35px;
      color: $white;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 15px;
      color: $white-1;
      line-height: 110%;
    }

    &__text {
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 110%;
      color: $white;
    }
  }
  &-episodes {
    flex: 0 0 33.3333%;
    overflow: auto;

    &__main {
      color: $white;
    }

    &__episode {
      font-weight: 100;
      font-size: 15px;
      color: $white-1;
      line-height: 110%;
    }
  }
}
