.btn {
  &-primary {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: $white;
    border-radius: 15px;
    background: $purple;
    border: $black solid 2px;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    @media only screen and (max-width: $lg) {
      padding: 10px;
      font-size: 15px;
      border-radius: 10px;

      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }

  &-secondary {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: $white;
    border-radius: 15px;
    background: $black;
    border: none;

    @media only screen and (max-width: $lg) {
      padding: 10px;
      font-size: 15px;
      border-radius: 10px;
    }
  }
}
