.input {
  &-text {
    border-radius: 10px;
    padding: 5px 10px;
    border: $black solid 2px;
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
    width: 300px;

    @media only screen and (max-width: $lg) {
      padding: 5px 10px;
      font-size: 15px;
      margin-right: 15px;
    }

    @media only screen and (max-width: $xsm) {
      width: auto;
    }
  }
}
