.characters {
  padding: 40px 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    height: 806px;
    max-width: 1400px;
    width: -webkit-fill-available;
  }
}
