@import "/src/app/shared/styles/main.scss";
@import "material-icons/iconfont/material-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #002 25%,
    #01005e 50%,
    #00238e 75%,
    #00329e 90%,
    #0055aa 100%
  );
}
